<div>
    <h1>Probando handlebars :) {{name}}
    </h1>
</div>

<div>
    <h2>Chat</h2>
    <input id="textbox">
    <p id="logs"></p>
</div>


<script src="./socket.io/socket.io.js"></script>
<script src="./js/home.js"></script>